.projectsSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    justify-content: center; 
}

.projectItem {
    background-color: #f0f0f0; 
    padding: 10px;
    border-radius: 5px;
    transition: all 0.9s ease;
    width: 50%;
}

.projectItemDetails {
    overflow: hidden;
    transition: max-height 0.9s ease-in-out;
}

.expanded {
    max-height: fit-content; 
}

.collapsed {
    max-height: 500px;
    padding: 0 10px; 
}






/* .projectsSection {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectItem {
    margin: 1rem;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.5);
    max-width: 30rem;
    max-height: 5rem;  
}

.projectItemDetails {
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.expanded {
    max-height: 500px;
    background-color: rgba(77, 77, 77, 0.5);
} */