.projectsSection {
    width: 100vw;
    max-width: 75rem;
    height: fit-content;
    align-items: center;
    text-align: center;
    margin: 0 auto 2rem;
}

.projectItem {
    color: black;
    display: flex;
    background-color: gray;
    opacity: 1;
    margin: 1rem;
    width: 100%;
    max-width: 30rem;
    overflow: hidden;
}

.projectImage {
    width: 5rem;
    padding: 1rem;
}

.projectItemDetails {
    overflow: hidden;
    transform-origin: center; 
    transform: scale(0); 
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    max-height: 50rem;
}

.expanded {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; /* Expand to full width of projectCards */
    height: 100%; /* Expand to full height of projectCards */
    background-color: grey; 
    z-index: 1; 
    transform: scale(1); 
    opacity: 1;
    cursor: default;
    border-radius: 10px; /* Optional: Adjust border-radius if needed */
    padding: 2rem; /* Add padding to the expanded card */
}

.collapsed {
    transform: scale(0);
    opacity: 0;
    max-height: 0;
}

.projectCards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: center;
    overflow: hidden;
}

.collapseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 0.90rem;
    border: none;
    position: absolute;
    cursor: pointer;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.projectTitle {
    font-size: 3rem;
    font-weight: 600;
}

.projectPara {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
}


















/* .projectItem {
    transition: transform 0.3s ease;
    color: black;
    display: flex;
    background-color: gray;
    opacity: 1;
    margin: 1rem 0;
}

.projectImage {
    width: 5rem;
    padding: 1rem;
}

.projectItemDetails.expanded {
    width: 100vw;
    max-width: 75rem;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey; 
    z-index: 1; 
    transition: 1s ease-in-out; 
}

.projectItemDetails.collapsed {
    display: none;
}

.projectItemDetails.collapsed:hover{
    display: none;
    opacity: .8;
}

.projectsSection {
    position: relative;
    width: 100vw;
    max-width: 75rem;
    align-items: center;
    margin: 2rem;
} */





















/* .projectsSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    justify-content: center; 
}

.projectItem {
    background-color: gray; 
    padding: 10px;
    border-radius: 5px;
    transition: all 0.9s ease;
    width: 50%;
    display: flex;
}

.projectImage {
    width: 5rem;
}
.projectItemDetails {
    overflow: hidden;
    transition: max-height 0.9s ease-in-out;
}

.expanded {
    max-height: fit-content; 
}

.collapsed {
    max-height: 500px;
    padding: 0 10px; 
}



 */

















/* .projectsSection {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectItem {
    margin: 1rem;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.5);
    max-width: 30rem;
    max-height: 5rem;  
}

.projectItemDetails {
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

.expanded {
    max-height: 500px;
    background-color: rgba(77, 77, 77, 0.5);
} */