* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #27496D, #1B3B58, #142F43, #0E2431, #081820);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}